<div class="page-form">
	<form action="questions.php?page=marital" method='POST'>
		<?php
			echo "<div class=title>";
			echo $_SESSION['strings']['title2'];
			echo "</div>";
		?>
		<input type="hidden" name="pageSubmitted" value="health">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q11'] . "</div>"; ?>
		<input type="text" name="healthEmergency">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q12'] . "</div>"; ?>
		<input type="text" name="healthEmergencyDetails">
		<input type="submit" name="submit" value="<?php echo $_SESSION['strings']['next']; ?>">
	</form>
</div>
