<div class="page-form">
	<form action="startover.php" method='POST'>
		<?php
			echo "<div class=title>";
			echo $_SESSION['strings']['title6'];
			echo "</div>";
			echo "<div class=warning-end>";
			echo $_SESSION['strings']['warning-end'];
			echo "</div>";
		?>
		<input type="submit" name="submit" value="<?php echo $_SESSION['strings']['finish'];?>">
	</form>
</div>
