<div class="page-form">
	<form action="questions.php?page=psycho" method='POST'>
		<?php
			echo "<div class=title>";
			echo $_SESSION['strings']['title3'];
			echo "</div>";
		?>
		<input type="hidden" name="pageSubmitted" value="marital">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q13'] . "</div>"; ?>
		<input type="text" name="maritalStatus">
		<input type="submit" name="submit" value="<?php echo $_SESSION['strings']['next']; ?>">
	</form>
</div>
