
<div class="page-form">
	<form action='questions.php?page=health' method='POST'>
		<?php
			echo "<div class=title>";
			echo $_SESSION['strings']['title1'];
			echo "</div>";
		?>
		<input type="hidden" name="pageSubmitted" value="personalInfo">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q1'] . "</div>"; ?>
		<input type="text" name="fullName">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q2'] . "</div>"; ?>
		<input type="text" name="countryOrigin">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q3'] . "</div>"; ?>
		<input type="text" name="countryComeFrom">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q4'] . "</div>"; ?>
		<input type="text" name="dob">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q5'] . "</div>"; ?>
		<input type="text" name="parentNames">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q6'] . "</div>"; ?>
		<input type="text" name="gender"><!-- 
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q7'] . "</div>"; ?>
		<input type="text" name="numWives"> -->
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q8'] . "</div>"; ?>
		<input type="text" name="religion">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q9'] . "</div>"; ?>
		<input type="text" name="education">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q10'] . "</div>"; ?>
		<input type="text" name="id">
		<input type="submit" name="submit" value="<?php echo $_SESSION['strings']['next']; ?>">
	</form>
</div>
