<div class="page-form">
	<form action="questions.php?page=sexual" method='POST'>
		<?php
			echo "<div class=title>";
			echo $_SESSION['strings']['title4'];
			echo "</div>";
		?>
		<input type="hidden" name="pageSubmitted" value="psycho">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q14'] . "</div>"; ?>
		<input type="text" name="psychoStatus">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q15'] . "</div>"; ?>
		<input type="text" name="psychoStatusDetails">
		<input type="submit" name="submit" value="<?php echo $_SESSION['strings']['next']; ?>">
	</form>
</div>
