<div class="page-form">
	<form action="questions.php?page=help" method='POST'>
		<?php
			echo "<div class=title>";
			echo $_SESSION['strings']['title5'];
			echo "</div>";
		?>
		<input type="hidden" name="pageSubmitted" value="sexual">
		<?php echo "<div class=\"input-title\">" . $_SESSION['strings']['q16'] . "</div>"; ?>
		<input type="text" name="sexualStatus">
		<input type="submit" name="submit" value="<?php echo $_SESSION['strings']['next']; ?>">
	</form>
</div>
