body {
	background-color: #eee;
}

a {
	text-decoration: none;
}

.program-title {
	font-size: 40px;
	text-align: center;
	border-style: solid;
	margin: 10px 40%;
	background-image: url('img/earthhour.png');
	padding: 20px;
	color: #eee;
	background-size: 250px;
}
 .welcome {
 	margin: 2% 30%;
 	border-style: solid;
 	border-color: #111;
 	border-radius: 10px;
 	background-color: #ddd;
 	padding: 15px;
 	text-align: center;
}

.lang-chooser {
	font-size: 25px;
}

.languages {
	margin: 20px 30%;
}

.lang-link {
	/*width: 100%;*/
	margin: 10px 0;
	padding: 10px;
	border-style: solid;
	border-radius: 10px;
	font-size: 20px;
}

.lang-link:hover {
	background-color: #ccc;
	transition: 0.4s;
}

.warning {
	margin: 20px 25%;
	border-style: solid;
	border-radius: 10px;
	border-color: #f00;
	padding: 10px;
	font-size: 20px;
}

.button-start {
	margin: 20px 40%;
	background-color: #ddd;
	border-radius: 10px;
	border-style: solid;
	padding: 1%;
	width: 18%;
	font-size: 20px;
	text-align: center;
}

.button-start:hover {
	background-color: #ccc;
	transition: 0.4s;
}

.title {
	text-align: center;
	font-size: 25px;
	padding: 10px;
}

form {
	margin: 20px 30%;
	border-radius: 10px;
	border-color: #f00;
	border-style: solid;
	padding: 10px;
	font-size: 20px;
	text-align: center;
}

.input-title {
	width: 100%;
	padding: 10px;
}

input[type="text"] {
	width: 80%;
	padding: 2px;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #0d0;
	border-radius: 10px;
	font-size: 20px;
	width: 50%;
	height: 3em;
}

input[type="submit"]:hover {
	background-color: #0f0;
}